body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  /* ибо в жопу  */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #fb5559;

  border: none;
  border-radius: 2px;
  cursor: pointer;

  padding: 15px 55px; /* якорь: убрать? */
}

.button-green {
  background-color: #00c973;
}

.button-yellow {
  background-color: #efc749;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: #e37375;
  background-color: #d7363a;
}

.button-green:hover {
  background-color: #00bc6b;
}

.button-green:active {
  color: #4dc491;
  background-color: #00aa61;
}

.button-yellow:hover {
  background-color: #eab434;
}

.button-yellow:active {
  color: #edc165;
  background-color: #e5a722;
}

.container {
  max-width: 1440px;
  margin: 0 auto 0 0;
}

/* header */

.main-header,
.main-info-slider {
  background-color: #eeeeee;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 49px 140px 15px 140px;
}

.main-logo {
  margin-right: 201px;
}

.main-logo:hover path {
  fill: #fb565a;
}

.main-logo:active path {
  fill: #a6a6a6;
}

.main-header nav {
  margin-top: 25px;
  margin-right: 80px;
  width: 100%;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  line-height: 30px;
  text-transform: uppercase;

  list-style: none;
}

.main-page {
  border-bottom: 3px solid #fb565a;
}

.catalog-page {
  border-bottom: 3px solid #fb565a;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  color: #a6a6a6;
}

.site-navigation a:focus {
  outline: none;
  border-bottom: 3px solid #fb565a;
}

.site-navigation li:last-child {
  display: block;
  position: relative;

  margin-left: 201px;
  padding-left: 40px;
}

.site-navigation li:last-child::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;
  width: 19px;
  height: 19px;

  background: url("../img/svg/cart-icon.svg") no-repeat;
  opacity: 0.5;
}

.site-navigation li:last-child:hover::before {
  opacity: 1;
}

/* end header */

/* slider */

.main-info-slider {
  margin-bottom: 75px;
  padding-left: 140px;
  padding-right: 250px;
}

.slider-list li {
  text-align: left;
}

.slider-list h3 {
  margin-top: 56px;
  margin-bottom: 28px;

  font-size: 55px;
  line-height: 55px;
}

.slider-list p {
  margin-bottom: 50px;
}

.slider-list img {
  width: 706px;
  height: 414px;
}

.slide-1 {
  display: flex;
}

.slide-2,
.slide-3 {
  display: flex;
  display: none;
}

/* end slider */

/* services */

.services {
  position: relative;

  margin-bottom: 137px;
  padding-left: 140px;
  padding-right: 279px;
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-list img {
  margin-bottom: 19px;
}

.services-list h3 {
  margin-bottom: 17px;
}

.services-list p {
  display: block;
  max-width: 250px;
  margin-bottom: 43px;
}

.services-list .button {
  padding-left: 40px;
  padding-right: 40px;
}

.services::after {
  content: "";

  position: absolute;
  bottom: -97px;
  width: 1160px;
  height: 2px;

  background: url("../img/divide.png") no-repeat;
  opacity: 1;
}

/* end services */

/* about-us */

.about-us {
  display: flex;
  position: relative;

  margin-bottom: 101px;
  padding-left: 140px;
}

.about-us-info {
  width: 750px;
  margin-top: 34px;
  margin-right: 50px;
}

.about-us h2 {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}

.about-us-info p {
  padding-right: 70px;
  margin-bottom: 39px;
}

.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 25px;
}

.about-us-list li {
  position: relative;

  padding-left: 35px;
  margin-bottom: 24px;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb5559;
  transform: translateY(10px);
}

.about-us-logo h3 {
  padding-left: 16px;
  margin-bottom: 41px;
}

.about-us-logo {
  width: 360px;
  height: 208px;
  margin-bottom: 29px;
}

.principles {
  display: flex;
}

.principles li {
  width: 105px;
  margin-right: 14px;
}

.principles li div {
  display: flex;
  margin-bottom: 19px;
}

.principles li span {
  margin-top: 1px;
}

.principles h4 {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.principles span {
  display: block;

  font-size: 28px;
  font-weight: bold;
}

.principles p {
  line-height: 18px;
}

.about-us::after {
  content: "";

  position: absolute;
  bottom: -51px;
  width: 1160px;
  height: 2px;

  background: url("../img/divide.png") no-repeat;
  opacity: 1;
}

/* end about-us */

/* partners */

.partners {
  position: relative;

  padding-left: 170px;
  margin-bottom: 112px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding-right: 256px;
}

.logo-1 {
  position: relative;

  margin-top: 12px;
}

.logo-1::after {
  content: "";

  position: absolute;
  right: -52px;
  width: 2px;
  height: 52px;

  background: url("../img/div.png") no-repeat;
  opacity: 1;
}

.logo-2 {
  position: relative;

  margin-top: -3px;
}

.logo-2::after {
  content: "";

  position: absolute;
  top: 15px;
  right: -47px;
  width: 2px;
  height: 52px;

  background: url("../img/div.png") no-repeat;
  opacity: 1;
}

.logo-3 {
  position: relative;

  margin-top: 12px;
  margin-left: 5px;
}

.logo-3::after {
  content: "";

  position: absolute;
  right: -52px;
  top: 1px;
  width: 2px;
  height: 52px;

  background: url("../img/div.png") no-repeat;
  opacity: 1;
}

.logo-4 {
  margin-top: -3px;
}

.partners-list img:hover {
  opacity: 0.4;
}

.partners-list img:active {
  opacity: 0.1;
}

.partners::after {
  content: "";

  position: absolute;
  left: 140px;
  bottom: -31px;
  width: 1160px;
  height: 2px;

  background: url("../img/divide.png") no-repeat;
  opacity: 1;
}

/* end partners */

/* catalog */

.catalog h1 {
  display: block;
  width: 100%;
  height: 163px;
  text-align: left;
  padding-top: 56px;
  padding-left: 354px;
  margin-bottom: 56px;

  font-size: 55px;
  line-height: 55px;

  background-color: #eeeeee;
}

.main-container {
  display: flex;

  margin-left: 139px;
}

/* filter */

.filter-container {
  display: flex;
  flex-direction: column;

  margin-right: 139px;
}

.filter legend {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filter label {
  font-size: 16px;
  line-height: 20px;
}
/*  */
.filter-parameters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-parameters .price-field {
  margin-bottom: 56px;
  border-bottom: 1px solid #e5e5e5;
}

.price-line {
  display: inline-block;
  position: relative;
  margin-bottom: 6px;
  width: 261px;
  height: 80px;
  background-color: #f7f2ec;
}

.switch-min,
.switch-max {
  position: absolute;
  width: 20px;
  height: 22px;
  background: url(../img/filter-button.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.switch-min {
  top: 30px;
  left: 20px;
}

.switch-max {
  top: 30px;
  right: 79px;
}

.price-line .toggle-switch {
  width: 211px;
  height: 2px;
  margin: 39px auto;
  background-color: #d7dcde;
}

.toggle-switch .switch-range {
  width: 135px;
  height: 2px;
  background-color: #00cb75;
}

.price-input {
  display: flex;
  margin: 0;
  padding-left: 2px;
}

.price-input input {
  padding: 10px 1px 9px 4px;
}
.price-field input {
  text-align: center;
  width: 76px;
}
.price-min,
.price-max {
  background-color: #f7f2ec;
  border: none;
}

.price-min {
  margin-right: 33px;
}

.price-input span {
  display: block;
  margin: 8px 10px auto 0;
}

.power-field legend,
.features-field legend {
  letter-spacing: normal;
}

.grid-field {
  margin-bottom: 44px;
}

.power-field legend,
.features-field legend {
  margin-bottom: 13px;
}

.grid-field li,
.features-field li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 18px;
}

.grid-field input[type="radio"],
.features-field input[type="checkbox"] {
  opacity: 0;
}

.power-field label::before {
  content: "";
  position: absolute;

  left: 2px;
  width: 23px;
  height: 26px;

  background: url("../img/svg/radio-off.svg") no-repeat;
  background-size: contain;

  opacity: 0.6;
}

.features-field label::before {
  content: "";
  position: absolute;

  left: 2px;
  width: 23px;
  height: 23px;

  background: url("../img/svg/checkbox-off.svg") no-repeat;
  background-size: contain;

  opacity: 0.6;
}

.filter-parameters .features-field {
  margin-bottom: 33px;
}

.filter-button {
  outline: none;
  padding-left: 88px;
  padding-right: 88px;
  color: #000000;
  background-color: #ededed;
}

.filter-button:hover {
  outline: none;
  background-color: #dfdfdf;
}

.filter-button:active {
  outline: none;
  background-color: #dfdfdf;
}

input[type="radio"]:checked ~ label::before {
  width: 27px;

  background: url("../img/svg/radio-on.svg") no-repeat;
  opacity: 1;
}

input[type="checkbox"]:checked ~ label::before {
  width: 27px;

  background: url("../img/svg/checkbox-on.svg") no-repeat;
  opacity: 1;
}

/*  */
.sorting h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting a {
  color: #b2b2b2;
}

.sorting a:hover {
  color: #666666;
}

.sorting a:active,
.sorting a:focus {
  outline: none;
  color: #000000;
}

/* end filter */

/* products */

.products-container {
  display: flex;
  flex-direction: column;
}

.sorting,
.sorting-list,
.sorting-filter,
.pages-list {
  display: flex;
  justify-content: space-between;
}

.sorting {
  margin-top: 3px;
  /* margin-right: 219px; */
  margin-bottom: 58px;
}

.sorting-filter li:last-child {
  margin-left: 19px;
}

.sorting-list {
  width: 270px;
  margin-left: 216px;
}

.samples {
  width: 760px;
  margin-bottom: 29px;
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.samples-list li {
  position: relative;
  margin-bottom: 27px;
}

.samples-list span {
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting-filter svg {
  opacity: 0.2;
}

.sorting-filter .down:hover svg {
  opacity: 0.6;
}

.sorting-filter .down:active svg {
  opacity: 1;
}

.sorting-filter .up:hover svg {
  opacity: 0.6;
}

.sorting-filter .up:active svg {
  opacity: 1;
}

.samples-list img {
  margin-top: -1px;
}

.samples-buy {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 238px;

  text-align: center;
  background-color: #eeeeee;
}

.samples h3 {
  padding-top: 28px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.samples p {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 18px;

  color: #b2b2b2;
}

.samples-list li:hover .brows {
  opacity: 1;
}

.samples-list li:hover .samples-buy {
  display: block;
}

/* end products */

.pages-list {
  justify-content: left;
  min-width: 445px;
  margin-bottom: 61px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.pages-list li {
  margin-right: 11px;
}

.page a {
  display: block;
  padding: 15px 21px;
  color: #000000;
  background-color: #ededed;
}

.page-active a {
  padding: 11px 17px;
  border: 4px solid #ededed;
  background-color: #ffffff;
  border-radius: 5%;
}

.page-next a {
  padding: 15px 76px;
}

.page a:hover {
  background-color: #dfdfdf;
}

.page a:active {
  color: #dfdfdf;
  background-color: #d5d5d5;
}

/* end catalog */

/* footer */

.map-info {
  position: relative;
  margin-bottom: 64px;
}

.map {
  width: 1440px;
  height: 415px;
}

.adress {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 53px;
  left: 140px;
  width: 270px;
  height: 255px;

  padding-left: 49px;
  padding-top: 53px;

  text-align: left;

  background-color: #ffffff;
}

.adress h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 23px;
}

.main-footer h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.main-footer p,
.footer-phone {
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}

.main-footer p {
  margin-bottom: 15px;
}

.footer-phone {
  margin-bottom: 36px;
}

.adress .button {
  max-width: 188px;
  padding: 16px;
}

.marker {
  position: absolute;
  top: 88px;
  right: 386px;
}

.footer-links a {
  display: block;
  width: 77px;
  height: 77px;
  border-radius: 50%;

  text-align: center;

  background-color: #e1e1e1;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-left: 141px;
  padding-right: 359px;
}

.footer-links {
  display: flex;
}

.footer-links li {
  margin-right: 14px;
}

.footer-links img {
  margin-top: 26px;
}

.social h3 {
  margin-top: 7px;
  margin-bottom: 10px;
}

.link-vk svg {
  margin-top: 32px;
}

.link-fb svg {
  margin-top: 28px;
}

.link-in svg {
  margin-top: 29px;
}

.footer-links a:hover {
  background-color: #df5759;
}

.footer-links a:active {
  background-color: #881618;
}

.footer-links a:active svg path {
  fill: #000;
}

/* end footer */

/* modal */

.modal {
  display: none;
  position: fixed;

  top: 50px;
  left: 50%;
  margin-left: -520px;

  width: 960px;
  min-height: 590px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 10px #afb3bb;
}

.write-us {
  position: relative;

  padding: 71px 100px;
}

.write-us,
.write-us-form,
.write-us-field {
  display: flex;
}

.write-us,
.write-us-field {
  flex-direction: column;
}

.write-us h2 {
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
}

.write-us label {
  margin-bottom: 11px;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.write-us-form div:first-child {
  margin-right: 20px;
  margin-bottom: 33px;
}

.write-us input {
  font-size: 16px;
  line-height: 18px;
  width: 340px;
  min-height: 44px;
  padding-left: 13px;
  margin-right: 22px;
  border: 2px solid #d7dbdd;
}

.write-us-field-3 textarea {
  padding-top: 8px;
  padding-left: 13px;
  height: 102px;
  border: 2px solid #d7dbdd;
}

.write-us-field-3 {
  margin-bottom: 47px;
}

.write-us form button {
  padding: 15px 84px;
}

.write-us-field input:hover,
.write-us-field textarea:hover {
  border: 2px solid #b3b8bb;
}

.write-us-field input:focus,
.write-us-field textarea:focus {
  border: 2px solid #000;
}

/* якорь: невалидность */

.button-close {
  position: absolute;

  top: 80px;
  right: 88px;

  width: 24px;
  height: 24px;

  font-size: 0;
  border: none;
  background-color: #ffffff;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;

  width: 25px;
  height: 4px;
  top: 10px;
  right: -1px;

  background-color: #ee3643;

  cursor: pointer;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover {
  cursor: pointer;
}

.modal-show {
  display: block;
  animation-name: jump;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

/* end modal */

@keyframes jump {
  0% {
    transform: translateY(2000px);
  }
  70% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
